@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
  scroll-behavior: smooth;
}

header {
  background-color: rgba(255, 105, 180, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 12.22vh;
  @media (max-width: 508px) {
    flex-direction: column;
    height: 15vh;
  }
  .BoxLogo {
    align-items: center;
    display: flex;
    img {
      width: 5vw;
      @media (max-width: 508px) {
        width: 15vw;
      }
    }
    h1{
      @media (max-width: 508px) {
        font-size: 5vw;
      }
    }
  }
  ul {
    width: 41.66vw;
    display: flex;
    justify-content: space-between;
    font-size: 2vw;
  }
}
.container1 {
  background-color: rgba(255, 217, 236, 1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 45px;
  height: 80vh;
  @media (max-width: 507px) {
    flex-direction: column-reverse;
    justify-content: space-evenly;
    height: 80vh;
  }

  @media (max-width: 507px) {
    img {
      width: 50vw;
    }
  }
  p {
    color: black;
    width: 30.5vw;
    height: 27.46vh;
    font-size: 1.4vw;
    @media (max-width: 507px) {
      width: 100%;
      font-size: 4vw;
    }
  }
}

.container2 {
  background-color: rgba(255, 105, 180, 1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 45px;
  height: 80vh;
  @media (max-width: 507px) {
    height: 80vh;
    flex-direction: column;
  }

  p {
    width: 30.5vw;
    height: 27.46vh;
    font-size: 1.4vw;
    @media (max-width: 507px) {
      width: 60.5vw;
      font-size: 4vw;
    }
  }
  img {
    width: 30.92vw;
    @media (max-width: 507px) {
      width: 70vw;
    }
  }
}

.container3 {
  background-color: rgba(255, 217, 236, 1);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 45px;
  height: 60vh;
  @media (max-width: 507px) {
    flex-direction: column-reverse;
    height: 80vh;
    padding: 0px;
  }
  img {
    width: 13vw;
    @media (max-width: 507px){
      width: 25vw;
    }
  }
  p {
    width: 30.5vw;
    height: 27.46vh;
    font-size: 3.125vw;
  }
}
footer {
  background-color: rgba(255, 105, 180, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 14.8vh;
  padding-right: 10vh;
  @media (max-width: 507px) {
    flex-direction: column;
    height: 20vh;
    border: solid 2px black;
    padding-right: 0vh;
  }
  .boxOne {
    display: flex;
    justify-content: space-around;
    width: 13vw;
    @media (max-width: 507px) {
      width: 30vw;
    }
    img {
      width: 2.66vw;
      @media (max-width: 507px) {
        width: 5vw;
      }
    }
  }

  .boxTwo {
  
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.1vw;
    width: 30vw;
    @media (max-width: 507px) {
      width: 70vw;
      font-size: 1.6vw;
    }
  }
  .boxThree {
    img {
      width: 3.66vw;
    }
  }
}
